.LinkButton {
  position: relative;
  width: 90%;
}

.LinkButton button {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: var(---lightColor);
}

.LinkButton button a {
  padding: 24px 32px 24px 32px;
  display: block;
  cursor: pointer;
}
