* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  ---mainColor: rgb(194, 88, 88);
  ---lightColor: #ffffff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(---lightColor);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 1.5rem;
}
#profile_img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
}
.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#slack_img {
  height: 23px;
  width: 23px;
}
#slack {
  display: none;
}
