* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  ---textColor: #000;
  ---mainColor: white;
  ---lightColor: #ece7e7;
  ---textColor2: rgb(180, 179, 179);
  ---textColor3: rgb(97, 97, 97);
  ---shadow: rgba(0, 0, 0, 0.1);
  ---dotColor: red;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: var(---mainColor);
}
.sharelink-con {
  background-color: var(---textColor);
  border-radius: 10px;
  color: var(---lightColor);
  padding: 10px;
  margin: 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  font-size: 13px;
  width: 78px;
  transform: translate(calc(-100% - 20px));
  box-shadow: 2px 10px 15px var(---shadow);
}
.sharelink-con::after {
  content: "";
  display: block;
  top: 50%;
  right: 0;
  width: 10px;
  height: 10px;
  background: var(---textColor);
  position: absolute;
  transform: translateY(-50%) translateX(50%) rotate(45deg);
  z-index: -1;
}
.three-dot-icon-wrapper {
  position: relative;
}
.three-con:hover {
  background: var(---lightColor);
}
.three-con {
  width: 40px;
  height: 40px;
  font-size: smaller;
  border-radius: 50%;
  outline-width: 2px;
  outline-style: dotted;
  outline-color: var(---textColor2);
  color: var(---textColor3);

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 1.5rem;
  cursor: pointer;
}
.camera-co {
  position: absolute;
  top: 130px;
}
#profile_img {
  object-fit: cover;
  object-position: top;
  width: 90px;
  height: 90px;
  border-radius: 50px;
}
.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  width: 95%;
}

button {
  width: 90%;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: var(---lightColor);
}

button a {
  padding: 24px 32px 24px 32px;
  display: block;
  cursor: pointer;
}

.links-container li a {
  color: var(---textColor);
  font-size: 16px;
}
#twitter {
  font-weight: 700;
  padding: 20px 0;
}

.links-container li {
  width: inherit;
  justify-content: center;
  display: flex;
}
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100px;
}
#slack_img {
  height: 23px;
  width: 23px;
}
#slack {
  display: none;
}
.zuri-internship {
  display: flex;
  align-items: baseline;
  gap: 3px;
  font-weight: 600;
  color: var(---textColor);
  padding: 20px 10px;
}
#dot-red {
  display: flex;
  align-items: center;
  background-color: var(---dotColor);

  height: 5px;
  width: 5px;
  border-radius: 50px;
  color: var(---mainColor);
}
.hng {
  color: var(---textColor2);
  padding: 0 10px;
}
#eath_logo {
  width: 20px;
  height: 20px;
}
.logo-container {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}
.ingressive-con {
  display: flex;
  flex-direction: column;

  font-size: small;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
}
#line-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 10px 0;
}
#line-con span {
  width: 94%;
  height: 1px;
  font-weight: 100;
  background-color: var(---textColor2);
}
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.last-con {
  width: 100%;
  display: flex;
  font-size: 17px;
  flex-direction: column;

  align-items: flex-start;
}
.camera-co {
  display: block;
  opacity: 0;
}
.profile-con {
  display: flex;
  justify-content: center;
}
.forward-component {
  display: none;
  font-size: 20px;
}
.dot-component {
  font-size: 18px;
}
@media only screen and (min-width: 500px) {
  .forward-component {
    display: block;
    font-size: 20px;
  }
  .three-con:hover + .sharelink-con {
    opacity: 1;
  }
  .dot-component {
    font-size: 18px;
    display: none;
  }

  .dot-container {
    width: 50%;
  }
  .profile-con:hover {
    opacity: 0.8;
  }
  .camera-co:hover {
    opacity: 1;
  }
  /* #profile_img:hover {
    opacity: 1;
  } */
  .last-con {
    width: 100%;
    display: flex;

    justify-content: space-around;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
  }
  #line-con span {
    width: 80%;
    height: 1px;
    font-weight: 100;
    background-color: var(---textColor2);
  }
  .links-container li button a:hover {
    background-color: var(---textColor2);
  }
}
